# Tour de Python

In [2]:
str?

In [3]:
str.

SyntaxError: invalid syntax (<ipython-input-3-8c081d95124d>, line 1)

In [4]:
x = 1

In [5]:
print(x)

1

In [6]:
a, b = 3, 4
print("Elvalor de a es: ", a)
print("El valor de b es: ", b)

Elvalor de a es:  3
El valor de b es:  4

In [7]:
cadena = "esto es una cadena de testo"

In [8]:
print(cadena)

esto es una cadena de testo

In [9]:
x = int(5)
y = float(3.1416)
print("El valor de x es:",x,"Le valor de y es:",y)

El valor de x es: 5 Le valor de y es: 3.1416

In [10]:
a = 3
b = "hola"

In [11]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
str(a)+b

'3hola'

In [13]:
b+b

'holahola'

In [14]:
a*b

'holaholahola'

In [15]:
x = 0
x +=1
x

1

In [16]:
x +=1
x

2

In [17]:
x -= 3
x

-1

In [19]:
x = 5
if x > 3:
    print("Esto no se deberia de imprimir")

Esto no se deberia de imprimir

In [21]:
x = 11
if x >=5 and x < 10:
    print("El valor de x estÃ¡ entre 5 y 10")
else:
    print("El valor de x es menor a 5 o mayor o igual a 10")

El valor de x es menor a 5 o mayor o igual a 10

In [22]:
for x in "Hola Mundo":
    print(x)

H
o
l
a

M
u
n
d
o

In [23]:
i = 1
while i > 0 and i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [24]:
for i in xrange(3,10,2):
    print i

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i)? (<ipython-input-24-f5d5de6484b6>, line 2)

In [25]:
for i in xrange(3,10,2):
    print(i)

NameError: name 'xrange' is not defined

In [26]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [27]:
a_list = [1,2,3,4,5]
a_list

[1, 2, 3, 4, 5]

In [28]:
b_list = [1,1.3,4.5,2+1j,[1,2]]
b_list

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [29]:
b_list[2]

4.5

In [30]:
b_list[0]

1

In [31]:
b_list[4]

[1, 2]

In [32]:
b_list[4][1]

2

In [33]:
a_list.pop()

5

In [34]:
a_list

[1, 2, 3, 4]

In [35]:
a_list.append(n)

NameError: name 'n' is not defined

In [36]:
a_list.append(5)

In [37]:
a_list

[1, 2, 3, 4, 5]

In [38]:
a_list[0] = 9
a_list.append("a")
a_list.append("b")
a_list

[9, 2, 3, 4, 5, 'a', 'b']

In [39]:
a_list.pop()

'b'

In [40]:
a_list

[9, 2, 3, 4, 5, 'a']

In [41]:
a_list.pop(0)

9

In [42]:
a_list

[2, 3, 4, 5, 'a']

In [43]:
empty_list = []
empty_list

[]

In [44]:
a_list

[2, 3, 4, 5, 'a']

In [45]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in "imprime":
    print(i)

i
m
p
r
i
m
e

In [47]:
a_list

[2, 3, 4, 5, 'a']

In [48]:
for i in a_list:
    print(i)

2
3
4
5
a

In [49]:
for r in range(5):
    print(r)

0
1
2
3
4

In [50]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x%2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

In [52]:
palabras = "Anita lava la tina".split
print(palabras)

<built-in method split of str object at 0x7fdc9c1b3e90>

In [53]:
transformacion = [[w.upper(), w.lower(), len(w)] for w in palabras]
print("==============")
for t in trasnformation:
    print(t)

TypeError: 'builtin_function_or_method' object is not iterable

In [54]:
tripletes_pitagoricos = [(x,y,z) for x in range(1,25) for y in range(1,25) for z in range(1,25) if x**2 + y**2 == z**2]
print(tripletes_pitagoricos)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (8, 6, 10), (8, 15, 17), (9, 12, 15), (12, 5, 13), (12, 9, 15), (12, 16, 20), (15, 8, 17), (16, 12, 20)]

In [55]:
diccionario = {'a','b','c'}

In [56]:
diccionario

{'a', 'b', 'c'}

In [57]:
diccionario = {'a':1 , 'b':2, 'coral':'amarillo'}
diccionario

{'a': 1, 'b': 2, 'coral': 'amarillo'}

In [58]:
diccionario['a']

1

In [59]:
diccionario['coral']

'amarillo'

In [60]:
from math import sqrt, atan
def polar(x,y):
    r = sqrt(x**2 + y **2)
    theta = atan(y/x)
    return r, theta

In [61]:
polar?

In [62]:
polar??

In [63]:
r, theta = polar(3,4)
r
theta

0.9272952180016122

In [64]:
print(r)

5.0

In [65]:
print(theta)

0.9272952180016122