# Tour de Python

### Ayuda

In [1]:
str?

### Variables

##### Asignación

In [2]:
x = 1

In [3]:
x

1

In [4]:
print(x)

1

##### Asignación doble

In [5]:
a, b = 3, 4
print ("El valor de a es: ", a)
print ("El valor de b es: ", b)

El valor de a es:  3
El valor de b es:  4

##### Tipos de variables
###### Enteros

In [6]:
x = 3
x

3

###### Flontantes

In [7]:
y = 3.5
y

3.5

###### Complejos: a + bj

In [8]:
z = 3 + 5j
z

(3+5j)

###### Booleanos

In [9]:
a = True
a

True

###### Notación cientifica

In [10]:
x = 1.2e34
x

1.2e+34

In [11]:
x = 1e-12 + 3.65e4j
x

(1e-12+36500j)

###### Cadenas de texto

In [12]:
cadena = "Esto es una cadena de texto con acentos y otros símbolos ¿?¡!"
cadena

'Esto es una cadena de texto con acentos y otros símbolos ¿?¡!'

In [13]:
print(cadena)

Esto es una cadena de texto con acentos y otros símbolos ¿?¡!

In [14]:
x = int(2)
y = float(3)
z = complex(1 + 2j)
a = str("Hola")

In [15]:
print(x, y, z, a)

2 3.0 (1+2j) Hola

##### Operaciones

In [16]:
x = 3
y = 4 + 3j

In [17]:
x + y #Suma

(7+3j)

In [18]:
x - y #Resta

(-1-3j)

In [19]:
x * y #Multiplicacion

(12+9j)

In [20]:
x ** y #Potencia

(-80.03836209851747-12.44429960209101j)

In [21]:
x / y #División

(0.48-0.36j)

In [22]:
y % x #Modulo / Residuo

TypeError: can't mod complex numbers.

In [23]:
a = 3
b = "Hola"

In [24]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
str(a) + b

'3Hola'

In [26]:
b + b #Concatenacion

'HolaHola'

In [27]:
a * b

'HolaHolaHola'

In [28]:
a, b, c = 1.0, 2.0, 3.0
print (a)
print (b)
print (c)

1.0
2.0
3.0

In [29]:
a + b / c

1.6666666666666665

In [30]:
(a + b) / c

1.0

In [31]:
x = 0
x += 1  #x = x + 1

In [32]:
print(x)

1

In [33]:
x *= 3.14  # x = x * 3.14
print (x)

3.14

In [34]:
x -= 2 # x = x - 2
print(x)

1.1400000000000001

In [35]:
x /= 5 * a
print (x)

0.22800000000000004

#### Condicionales

In [36]:
if x > 3:
    print("Esto no se debe de imprimir")
    print("Nota que es muy peligroso hacer esto con flotantes...")

In [37]:
x = 5

In [38]:
if x > 3:
    print("Esto si se debería de imprimir")

Esto si se debería de imprimir

In [39]:
x == 1

False

In [40]:
x > 1

True

In [41]:
x < 1

False

In [42]:
x >= 1

True

In [43]:
x != 1 #Distinto

True

In [44]:
x > 10 or x <= 5

True

In [45]:
x >10 and x <= 5

False

In [46]:
print(x)

5

In [47]:
if x >= 5 and x < 10:
    print("Hola")
else:
    print("Nunca me veras")

Hola

#### Bucles, son iteradores

In [48]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [49]:
for x in "Hola, ¿como estas?":
    print(x)

H
o
l
a
,

¿
c
o
m
o

e
s
t
a
s
?

In [50]:
i = 1
while i > 0 and i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [51]:
for i in range(3, 10, 2): #Es del 3 al 10, con i = i + 2
    print(i)

3
5
7
9

#### Ejercicio: Calcilar el valor de la suma de k = 0 a 1000 de (1/k)^2

In [52]:
suma = 0

for k in range(1, 1000):
    suma = suma + (1 / k)**2
    
print(suma)

1.6439335666815615

#### Listas

In [53]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

In [54]:
another_list = [1, 1.3, 4.5, 2+1j, [1,2]]
another_list

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [55]:
a_list[3]  #Da el elemento en esa posicion

4

In [56]:
another_list[3]

(2+1j)

In [57]:
another_list[4]

[1, 2]

In [58]:
a_list[-1] #Ultimo elemento

5

In [59]:
 a_list[1:] #Todos los elementos después del primero

[2, 3, 4, 5]

In [60]:
a_list[2:4] #Los elementos de la posicion 3 y 4
#Si el intervalo es [a:b], entonces nos da de la posicion a+1 al b

[3, 4]

In [61]:
a_list[:4] #Elementos hasta la posicion 4

[1, 2, 3, 4]

In [62]:
n = 5
a_list.append(n)  #Agrega n al final de la lista

In [63]:
a_list

[1, 2, 3, 4, 5, 5]

In [64]:
a_list.pop() #Quita el elemento del indice que se diga, y regresa que elemento se quito

5

In [65]:
a_list

[1, 2, 3, 4, 5]

In [66]:
a_list.append(3)
a_list[1] = 3
a_list.append(5)
a_list

[1, 3, 3, 4, 5, 3, 5]

In [67]:
a_list.remove(3) #Quita al elemento

In [68]:
a_list

[1, 3, 4, 5, 3, 5]

In [69]:
empty_list = []
empty_list

[]

In [70]:
for element in a_list:
    print(element)

1
3
4
5
3
5

In [71]:
for r in range(5): #Del 0 al n-1
    print(r)

0
1
2
3
4

In [72]:
#Escribir las listas como conjuntos
S = [x ** 2 for x in range(10)] #{x^2 | x = {0, 1, ... , 9}}
V  = [2 ** x for x in range(13)] #{2^0, 2^1, ... , 2^12}
M = [x for x in S if x % 2 == 0] #{x | x en S y x es impar}

print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

In [73]:
palabras = "Anita lava la tina".split() #split() separa por el caracter que se le de
print(palabras)

transformacion = [[w.upper(), w.lower(), len(w)] for w in palabras]
print("======================")

for t in transformacion:
    print(t)

['Anita', 'lava', 'la', 'tina']
======================
['ANITA', 'anita', 5]
['LAVA', 'lava', 4]
['LA', 'la', 2]
['TINA', 'tina', 4]

In [74]:
transformacion

[['ANITA', 'anita', 5],
 ['LAVA', 'lava', 4],
 ['LA', 'la', 2],
 ['TINA', 'tina', 4]]

In [75]:
n = 25

[(x, y, z) for x in range(1, n) for y in range(x,n) 
 for z in range(y,n) if x * x + y * y == z * z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

#### Diccionarios o mapas

In [76]:
diccionario = {"a":1, "b":2, "coral": "amarillo"}
diccionario

{'a': 1, 'b': 2, 'coral': 'amarillo'}

In [77]:
diccionario["a"]

1

In [78]:
diccionario["coral"]

'amarillo'

In [79]:
diccionario["nueva"] = "palabra" #Agregar al diccionario

In [80]:
diccionario

{'a': 1, 'b': 2, 'coral': 'amarillo', 'nueva': 'palabra'}

In [81]:
del diccionario["b"] #Elimina del diccionario

In [82]:
diccionario

{'a': 1, 'coral': 'amarillo', 'nueva': 'palabra'}

### Funciones

In [83]:
from math import sqrt, atan

#Cambio a coordenadas polares

def polar(x,y):
    r = sqrt(x ** 2 + y ** 2)
    theta = atan(y / x) #arcotangente
    
    return r, theta

In [84]:
r, theta = polar(3, 4)

print("La coordenada r es: ", r)
print("El ángulo theta es: ", theta)

La coordenada r es:  5.0
El ángulo theta es:  0.9272952180016122

#### Ejercicio: Crear una funcion que devuelva las coordenadas (x, y ,z) a partir de las coordenadas esfericas $(r, \theta, \phi)$.

In [85]:
from math import sin, cos

#Valores de theta y phi en radianes
def esfericas(r, theta, phi):
    x = r * sin(theta) * cos(phi)
    y = r * sin(theta) * sin(phi)
    z = r * cos(theta)
    
    return x, y, z

In [86]:
x, y, z = esfericas(5, 30, 65)

print("La coordenada en x es: ", x)
print("La coordenada en y es: ", y)
print("La coordenada en z es: ", z)

La coordenada en x es:  2.77861096058068
La coordenada en y es:  -4.084664415215816
La coordenada en z es:  0.7712572494379202